@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: #FBF3E4;
}
h1{
    position: absolute;
    top: 12px;
    font-weight: lighter;
}
body{
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    background: #313131;
    align-items: center;
    padding: 48px;
    position: relative;
}
form{
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#location{
    margin-right: 12px;
    min-width: 128px;
    max-width: 248px;
    height: 48px;
    border: none;
    outline: none;
    /* box-shadow: 2px 2px 8px #302e2b; */
    padding: 16px;
    background: #525252;
    border-radius: 48px;
    font-size: 1.2rem;
}
.location{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 16px;
    font-weight: 100;
    text-transform: uppercase;
}
button{
    width: 48px;
    height: 48px;
    border-radius: 48px;
    border:none;
    background: #525252;
    /* box-shadow: 2px 2px 8px #201f1d; */
}
img{
    margin: 12px;
    size: 32px;
    border-radius: 32px;
    box-shadow: 0px 4px 8px 0px black;
}
p{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p span{
    font-size: 3rem;
}
 p span sup{
     font-size: 1.5rem;
 }
footer{
    position: absolute;
    bottom: 16px;
}